# Raw and cleaned FASTQ
fastq_ace_f/
fastq_ace_r/
fastq_spata_f/
fastq_spata_r/
fastp_clean/
ace-spata/EquCab3.0.fa

# Ignore alignment BAM folders
alignment_ace_spata/ACE/BAM/
alignment_ace_spata/ACE/BAM_per_sample/
alignment_ace_spata/SPATA/BAM/
alignment_ace_spata/SPATA/BAM_per_sample/
alignment_ace_spata/*/alignment_ace_spata/  # nested folder inside SPATA

# Large binary/index files
*.mmi
*.fa.fai
*.pac
*.bwt
*.ann
*.sa
*.amb

# Optional temporary files
*.log
*.tmp
*.zip

ace-spata/EquCab3.0.fa
